@import './../../mixin/mixin.scss';

.config-select {
    @include scaleOnHover();
    align-items: center;
    position: relative;
    margin: 1em 0;
    display: grid;
    grid-template-columns: auto auto;
    min-width: 270px;
}

.config-select-selection {
    cursor: pointer;
    grid-row: 1/-1;
    grid-column: 1/2;
    height: 100%;
    padding: 0.5em 0em 0.5em 0.5em;
    font-size: 1.5rem;
    background: var(--color-dark);
    color: var(--color-white);
    border: 0;
    font-family: var(--font-family-primary);
    appearance: none;
}

.config-select-option {
    padding: 1.5em 1.5em;
    font-family: var(--font-family-primary);
}

.config-select-arrow {
    grid-row: 1/-1;
    grid-column: 1/2;
    position: absolute;
    padding: 0.5em 0;
    top:0;
    right:0;
    display: block;
    background: var(--color-darker);
    width: 2.5em;
    height: 100%; 
    pointer-events: none;
}

.config-select-arrow::before,
.config-select-arrow::after {
    --size: 0.4em;
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.config-select-arrow::before {
    top: 36%;
    border-right: var(--size) solid transparent;
    border-left: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--color-normal);
}

.config-select-arrow::after {
    top: 64%;
    border-right: var(--size) solid transparent;
    border-left: var(--size) solid transparent;
    border-top: var(--size) solid var(--color-normal);
}