@import "src/mixin/mixin.scss";

// Header row
header {
  cursor: default;
  width: 100vw;
	margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.nav-icon {
  @include scaleOnHover();
  filter: hue-rotate(90deg);
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  // display: flex;
  place-items: center;
}

.nav-slider-background {
  display: flex;
  margin-top: 4em;
  flex-direction: column;
  place-items: center;
  position: absolute;
}

.nav-slider-content {
  display: flex;
  flex-direction: column;
  place-items: center;
	display: none;
	z-index: 4;

  & > * {
    margin-inline: 0.4em;
  }

	&__visible {
		display: flex;
	}

	&__hidden {
		display: none;
	}
}

.nav-slider-bkground {
  opacity: 0.8;
  position: absolute;
  width: 80%;
  border-right: 10em solid transparent;
  border-left: 10em solid transparent;
  border-top: 14em solid var(--color-darker);
	display: none;
	&__visible {
		display: block;
	}

	&__hidden {
		display: none;
	}
}

.nav-slider-toggle {
  @include scaleOnHover();
	z-index: 2;
  transition:all 500ms ease;
  box-shadow: 0 0 0 10px var(--color-white),
              0 0 10px 10px var(--color-darker);
	background: var(--color-white);
  border-radius: 50%;
  border: transparent;
  height: 14px;
  width: 14px;
}

// Configuration for higher resolutions
@media screen and (min-width: 1000px) {
  header {
    display: grid;
    grid-template-columns: repeat(6, 1fr) minmax(300px, 1fr) repeat(1, 1fr);

    & > * {
      grid-row: 1/-1;
    }
  }

  .logo-container {
    grid-column: 2;
  }

  .nav-slider-background {
    grid-column: 5 / span 6;
    margin-top: 0em;
  }

	
  .nav-slider-content {
    display: flex;
    flex-direction: row;
  }

  .nav-slider-toggle,
	.nav-slider-bkground,
  .nav-slider-background::before,
  .nav-slider-background::after {
    display: none;
  }
}
