@import 'src/mixin/mixin.scss';

.sign-out-btn {
    @include scaleOnHover();
    cursor: pointer;
    display: grid;
    margin: 1em;
    padding: 0.4em;
    place-items: center;
    background: var(--color-almost-black);
    color: var(--color-white);
}